@import url('https://fonts.googleapis.com/css?family=Spartan:200,400,600,800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
    background-color: rgb(2, 2, 2);
    font-family: 'Spartan', sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
  font-size: 35px;
  font-weight: 200;
  padding: 20px;
  margin-bottom: 30px;
}

.title{
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 5px;
}

.screen{
  cursor: pointer;
  border-left: 1px solid rgba(252, 252, 252, 0.11);
  border-right: 1px solid rgba(252, 252, 252, 0.11);
  border-top: 1px solid rgba(252, 252, 252, 0.11);
  width: 50%;
  background-color: rgb(2, 2, 2) !important;
}

.controls {
  background-color: rgb(2, 2, 2);
  border-left: 1px solid rgba(252, 252, 252, 0.11);
  border-right: 1px solid rgba(252, 252, 252, 0.11);
  border-bottom: 1px solid rgba(252, 252, 252, 0.11);
  padding: 10px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.progress{
  margin-bottom: 15px;
}

.btn-container{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.left-btn {
  display: flex;
  align-items: center;
}
.btn{
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.326);
  background: rgb(2, 2, 2);
  cursor: pointer;
  border: 0;
}

.btn:hover{
  transform: scale(1.2);
}

.btn:focus{
  outline: none;
}



.timestamp{
  font-size: 14px;
}

@media(max-width: 800px) {
  .screen,
  .controls{
    width: 90%;
  }
}

.full_screen{
  width: 100%;
}